@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  /* zinc-900 */
  --foreground: #ffffff;
  --sidebar-bg: #27272a;
  /* zinc-800 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}